body {
    font-family:Roboto;
    background: orangered;
    }

#container{
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
}

#convert {
    margin-top:3%;
    background-color: red;
}
#clear {
    margin-top:3%;
    background-color: yellowgreen;
}
h1 {
    font-family: sans-serif;
    color: black;
    text-decoration: underline;
}
input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: blueviolet;
    font-family: cursive, sans-serif;
}::-webkit-input-placeholder {
    color: rebeccapurple;
}
:-ms-input-placeholder {  
    color: rebeccapurple;  
}
button {
    padding: 10px;
    font-size: 1.2em;
    color: black;
}
